*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-image: url(/pictures/backGround/Normal_Background.png);
  background-size: cover;
  background-position: center;
  font-family: "Segoe UI", sans-serif;
  color: #f5deb3;
  line-height: 1.6;
}
.header {
  text-align: center;
  padding: 30px 10px;
}

.header h1 {
  font-size: 42px;
  letter-spacing: 2px;
}

.header h5 {
  font-size: 16px;
  opacity: 0.9;
}

ul {
  list-style-type: disc;
  margin-left: 25px;
  margin-bottom: 25px;
}

li {
  margin-bottom: 10px;
  color: #fff; 
}
.img {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.img img {
  width: 380px;
  max-width: 100%;
  border-radius: 12px;
}
.content {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.content p {
  margin-bottom: 20px;
  font-size: 16px;
}
.gameinfo{
    max-width: 900px;
    background: #fff;
    margin: 40px auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
.gameinfo-header{
    background: #193b69;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 24px;
}
.gameinfo-header h3{
    color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
.gameinfo-info{
    padding: 24px;
  color: #333;
  line-height: 1.7;
}
.gameinfo-info ul{
  margin-top: 15px;
  padding-left: 25px;
  color: #222;
}
.gameinfo-info li{
    margin-bottom: 12px;
   color: #222;
}
.Reg-Btn{
    margin: 25px;
    display: flex;
    justify-content: center;
}
#Reg-Btn{
    padding: 15px;
    border-radius: 30px;
    background-color: #ff8c00;
    cursor: pointer;
    color: wheat;
    transition: transform 0.3s ease;
}
#Reg-Btn:hover{
    transform: translateY(-2.5px) ;
}
#Reg-Btn:active{
    transform: translateY(0);
}
.Rulebook a{
    text-decoration: none;
    background-color: #ff8c00;
    color: #222;
    border: 2px solid ;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin: 5px;   
}
.Rulebook{
    color: #222;
    margin: 15px;
    display: flexbox;
    justify-content: center;
}
a{
  text-decoration: none;
}